In [66]:
# Importing the Libraries
import pandas as pd
import imp
import os
faker = importlib.util.find_spec("faker")
if not faker:
    os.system('pip install faker==20.1.0')
from faker import Faker
from faker.providers import internet
from faker.factory import Factory
fake =  Faker()

In [86]:
records = 8
dataframe = {
    'Name':[fake.name() for _ in range(records)],
    'Address':[fake.address() for _ in range(records)],
    'Job':[fake.job() for _ in range(records)],
    'Company':[fake.company() for _ in range(records)],
    'City':[fake.city() for _ in range(records)],
    'CreditCard':[fake.credit_card_provider() for _ in range(records)],
    'Internet': [fake.add_provider(internet) for _ in range(records)],    
    'DOB': [fake.date_of_birth() for _ in range(records)],    
}
#dataframe

In [87]:
for _ in range(records):
    print(fake.job())

Graphic designer
Radiation protection practitioner
Hospital doctor
Financial trader
Claims inspector/assessor
Operational investment banker
Emergency planning/management officer
Doctor, general practice

In [62]:
# Importing the data
dataset = 'datasets/shopping_trends.csv'
data = pd.read_csv(dataset)

In [2]:
# Viewing the first 5 columns of the dataframe
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

## Columns

In [10]:
data.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

## Shape

In [3]:
# Seeing the number of records
data.shape

(3900, 19)

## unique

In [4]:
# Finding the unique elements of an attribute
data['Preferred Payment Method'].unique()

array(['Venmo', 'Cash', 'Credit Card', 'PayPal', 'Bank Transfer',
       'Debit Card'], dtype=object)

## nunique ( Gets the number of unique elements in a column)

In [5]:
# Finding the number of unique elements of an attribute
data['Preferred Payment Method'].nunique()

6

## value_counts ( Gets the frequency for values present in a column )

In [6]:
# Finding the frequency of an attribute in the dataframe
data['Gender'].value_counts()

Gender
Male      2652
Female    1248
Name: count, dtype: int64

## Query

In [23]:
data.query("Age>=70").head(1)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
39,40,70,Male,Pants,Clothing,60,Arizona,S,Turquoise,Summer,4.2,Yes,Bank Transfer,Express,Yes,Yes,18,Credit Card,Monthly

## Query ( multiple filter)

## Note: The below won't work if the Column name has spaces

In [29]:
# Finding the number of females who purchased in winter season
data.query("(Gender=='Female')&(Season=='Winter')").shape[0]

306

## Groupby (Using Mean)

In [7]:
# Finding the top state, which has the highest average purchase amount by female
data.query("Gender=='Female'").groupby(['Location'])['Purchase Amount (USD)'].mean().reset_index().sort_values(by='Purchase Amount (USD)', ascending=False).head(1)

  Location  Purchase Amount (USD)
1   Alaska              72.083333

## Groupby (Using Count)

In [8]:
# Finding the top state, which does the most payments by credit card
data[data['Payment Method']=='Credit Card'].groupby(['Location'])['Payment Method'].count().reset_index().sort_values(by='Payment Method',ascending=False).head(1)

     Location  Payment Method
41  Tennessee              20

## Groupby (Using Sum)

In [9]:
# Finding the top state, which constitute to highest shopping 
data.groupby(['Location'])['Purchase Amount (USD)'].sum().reset_index().sort_values(by='Purchase Amount (USD)', ascending=False).head(1)

   Location  Purchase Amount (USD)
25  Montana                   5784